<head>
  {% assign title = page.title | default: site.title | escape %} {% assign description =
  page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %} {%
  if page.name and page.collection == 'projects' %} {% assign use_math = page.use_math | default: false %}{% assign title = page.name | escape %} {% endif
  %}{% if page.use_math %}
  {% include mathjax_support.html %}
  {% endif %}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="naver-site-verification" content="a84162bf5f0062655610f6aba5766fd5c44b47c3" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="sseul's blog" />

  <!-- thumbnail 변수가 있으면 썸네일로 사용 -->
  {% if page.thumbnail %}
  <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}" />
  <meta property="og:image:secure_url" content="{{ site.url }}{{ page.thumbnail }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ site.url }}/tree/main{{ page.thumbnail }}" />
  {% endif %}  

  <title>{{ title }}</title>
  <meta name="description" content="sseul's blog" />

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
  
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }} Feed">
  
  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

  <!-- Bootstrap CSS CDN -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  />

  <!-- Animate CSS CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"
  />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />

  <!-- Canonical Link -->
  <link rel="canonical" href="https://seul1230.github.io/index.html" />

  <link rel="stylesheet" type="text/css" href="/assets/css/defaultStyle.css" />

</head>
