<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>
  new WOW().init();
</script>

<!-- scroll to top button js -->
<script src="../assets/js/scrollToTop.js"></script>

<!-- clipboard js -->
<script src="../assets/js/clipboard.js"></script>
<script src="../assets/js/plugins/clipboard.min.js"></script>

<!-- sweetalert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>

<!-- Initialize all tooltips -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
