html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: 'NanumBarunGothic', 'NanumSquare', "Poppins", sans-serif;

}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}


@font-face {
  font-family: 'NanumSquare';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}