$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;
$pink:      rgb(237, 159, 159);
$dark-pink: rgb(159, 102, 102);


$text-border-h3h4-light: #ffffff00;
$text-border-h3h4-dark: #7b7b7b;

$text-black: #343a40;
$text-white: rgba(white, .9);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

$rounded-borders: 15px;