.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.center {
  display: block;
  margin: auto;
}

figcaption {
  color: #808080;
  font-size: 80%;
  text-align: center;
  margin-top: 0;
  padding: -10px 2px 2px 2px;
}