---
layout: page
---
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7280083909521856"
    crossorigin="anonymous"></script>
<script>
  window.addEventListener("load", function () {
    if (document.getElementById("last-modified")) {
      fetch("https://api.github.com/repos/seul1230/seul1230.github.io/commits?path={{ page.path }}")
        .then((response) => {
          return response.json();
        })
        .then((commits) => {
          var modified = commits[0]["commit"]["committer"]["date"].slice(0, 10);

          return modified;
        })
        .then((modified) => {
          var date = modified.split("-");
          var year = date[0];

          var month = console.log(date[0]);
          document.getElementById("last-modified").textContent = "last_modified_at : " + modified;
        });
    }
  });
</script>

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  <span class="post-metadata text-muted" id="last-modified"></span>
  <br />
  created_at : {{ page.date | date_to_long_string }} -
  <b>
    {%- assign words = content | number_of_words -%} {%- if words < 360 -%} less than 1 min read
    time {%- else -%} {{ words | divided_by: 180 }} mins read time {%- endif -%}
  </b>
  <br />
  {%- if page.tags != empty -%} Tags: {% for tag in page.tags %}
  <a
    class="text-decoration-none no-underline"
    href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}"
  >
    <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
  </a>
  {% endfor %} {%- endif -%}
</p>

<div class="list-group my-3">
  <a class="list-group-item active disabled text-white">Table of Contents</a>
  {% include toc.html html=content %}
</div>
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-hj+a-w-1e+66"
    data-ad-client="ca-pub-7280083909521856" data-ad-slot="7249999080"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-hj+a-w-1e+66"
    data-ad-client="ca-pub-7280083909521856" data-ad-slot="7249999080"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ content }}

&nbsp;<hr/>


<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-hj+a-w-1e+66"
    data-ad-client="ca-pub-7280083909521856" data-ad-slot="7249999080"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>


<hr />
<p style="text-align: center; color: #6c757d; font-size: 90%">
  💙 You need to log in to GitHub to write comments. 💙
</p>

<script
  src="https://utteranc.es/client.js"
  repo="seul1230/blog-comments"
  issue-term="title"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>

<br/>

<!-- 디스플레이 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7280083909521856" data-ad-slot="7985783686"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
<!-- 멀티플렉스 -->
<!-- <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-7280083909521856"
  data-ad-slot="4920206415"></ins> -->
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- {% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %} -->
